.first-row div{
    font-size: 50px;
}


.second-row{
    margin-top: 15%;
    padding-right: 15%;
}

.col-form-label{
    font-size: 20px !important;
}

.third-row{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 15%;
}